h1,p
 {/*  display: inline; */}
 
 body {background: chocolate; }
 strong     {/* todo lo que meta en el css y le ponga aqui su etiqueta con instrusciones afectara sobre todos si pongo parrafo azu todos los parrafos seran azules */
    
    font-weight: normal;
     color: darkblue;
    display: block; } /* /* {€- display:-€  in line o block se comportara de una forma u otra bloque o linea, es una caractristica del html pero se escribe en css. El bloke obliga al resto a irse debajo aunq le diga que ocupe la mitad la otra la deja en blanco La linea no}} /* */

#p001 {
    color: darkgreen;
    font-family: fantasy;
    text-align: center;
}
.destacado {
    color: rgb(253, 7, 7);

}

 img {
     text-align: center
    } /* afecta a todas a no ser que las span en un nuevo etiqueta o clase e ira a todos*/

    pre { text-align: justify;
        color: deeppink;
        font-size: 0.5cm 

    }


