.recuadro { border: 0.1cm;
    color:rgb(52, 157, 255);
    border-style: solid;
    text-align: center;
    }

    .mainfooter {background-color: grey;
        color: rgb(52, 157, 255);
        height: 7vh;  
        text-align: center;
        padding: 0.02rem;
        background: rgb(14, 13, 12) ;
        text-align: center;
         }

        .mainheader {
            text-align: center;
            font-size: 1.33rem;
            margin-top: -1rem;
            color:rgb(52, 157, 255);
            font-weight: bold; /* Negrita se puede con strong pero así esta bien escrito */
            background: rgb(7, 6, 6);
        }
            .mainheader p{ 
                margin: 0rem 9
            rem 0rem 0rem;

        }
    body {
        margin: 0;
        }
        .margen{
            margin: 1rem 5rem 3rem 1rem; /* margen en el sentido de las agujas del reloj 1º rem arriba 2º rem dercha 3º rem abajo 4 rem izquierda */
        }  
        .imagen { text-align: center;
            max-width: 100%; /* para que la imagen ocupe como mucho el 100% y si quiero fijar el tamaño pongo width: y el ancho en pixles  */
        }
        .figure {
            margin:0rem;
        }
    
        .pie{
            text-align: center;
        }
        .figure {
            margin: 2cm;
        }