
body{ color: grey;
    background: rgb(4, 97, 12); }

.mainheader { 
    background-color: grey;
    color: rgb(12, 0, 80);
    height: 12vh;   
    text-align: center;
    padding:1rem 0rem 0rem 0rem;
}
.mainfooter {background-color: grey;
    color: rgb(12, 0, 80);
    height: 7vh;  
    text-align: center;
    padding: 0.02rem; /* deja inter lineados */
    }
.mainheader p {
        font-size: 1.33rem;
        margin-top: -1rem;
        color: aqua;
        font-weight: bold; /* Negrita se puede con strong pero así esta bien escrito */

    }